<div class="panel panel-info">

    <div class="panel-heading">
        <h3 class="panel-title">Forks</h3>
    </div>
    <br/>

    {{#each fork in model}}
        <div class="panel">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2"> 
                        <input type="checkbox" id="myCheck">
                    </div>
                    <div class="col-md-2">
                        <img src="" class="img-responsive" alt="I AM A PICTURE!"> 
                    </div>
                    <div class="col-md-6">
                        <strong>
                            <a href="#">{{fork.vendor}} {{fork.name}} {{fork.modelName}}</a>
                        </strong>
                        <div>
                        I AM A DESCRIPTION!!!
                        </div>
                    </div>
                    <div class="col-md-2"> 
                        <a href="#" class="btn btn-info btn-sm"> Yeah!</a> 
                    </div>
                </div>
            </div>
        </div>
        <br/>
    {{/each}}
    
</div>

{{outlet}}
